@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(223, 191, 213);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    margin-bottom: 4px;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-size: 6rem;
    color: purple;
    margin: 0;
}

h2 {
    
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

a, p {
    font-family: monospace;
}

